<mat-toolbar class="primary-toolbar">
    @if (showSidenavDrawerButton) {
        <button mat-icon-button (click)="toggleSidenav()" class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    }
    <span class="header-title">Music Hub</span>
    @if(showHeaderNavLinks) {
        @for (navItem of (navItems$ | async); track navItem.title) {
            <app-nav-link [navItem]="navItem" navLinkType="header" />
        }
    }
    <div class="example-spacer"></div>
    <a mat-button href="#">Register</a>
</mat-toolbar>
