<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [(opened)]="sidenavOpened" #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item *ngFor="let route of routes" [routerLink]="route.path" routerLinkActive
                #rla="routerLinkActive" [activated]="rla.isActive" class="sidenav-link">{{route.title}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>