<app-header-only-layout>
    <div class="auth-page-outer">
        <mat-card class="auth-page-outer__form-card">
            <mat-card-content class="auth-page-outer__form-card-content">
                <mat-tab-group class="auth-tabs">
                    <mat-tab label="Register" class="auth-tabs__container">
                        <form class="auth-form">
                            <mat-form-field appearance="outline" class="app-form-field">
                                <mat-label>Email</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>alternate_email</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="app-form-field">
                                <mat-label>Password</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="app-form-field">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div class="example-spacer"></div>
                            <button mat-flat-button class="app-form-btn">Register</button>
                        </form>
                        
                        
                    </mat-tab>
                    <mat-tab label="Login" class="auth-tabs__container">
                        <form class="auth-form">
                            <mat-form-field appearance="outline" class="app-form-field">
                                <mat-label>Email</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>alternate_email</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="app-form-field">
                                <mat-label>Password</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>lock</mat-icon>
                            </mat-form-field>
                            <div class="example-spacer"></div>
                            <button mat-flat-button class="app-form-btn">Login</button>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
            
        </mat-card>
    </div>

    
</app-header-only-layout>
